mediapipe/cvtest.ipynb
mediapipe/screenshots
mediapipe/airdrawTest.py
mediapipe/bmpdraw.py
transformer/feedimg
vtex
__pycache__
transformer/data2/
transformer/data/
.vscode
progress
mediapipe/airdrawTest.py
